body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: large;
}

button {
    width: 92px;
    height: 48px;
}

.score {
    display: flex;
    gap: 8px;
}

.score-container {
    display: flex;
    gap: 24px;
}